@charset "utf-8";
@mixin flex($direction:column,$transverse:flex-start,$vertical:stretch, $inline:block){
  display:if($inline==block,flex,inline-flex);
  flex-direction: $direction;
  justify-content: $transverse;
  align-items: $vertical;
}
@mixin list($direction:column,$transverse:flex-start,$vertical:stretch){
  @include flex($direction,$transverse,$vertical)
}
@mixin img($url:none,$size:auto,$position:0% 0%,$repeat:no-repeat){
  background-image: $url;
  background-repeat: $repeat;
  background-size: $size;
  background-position: $position;
}
@mixin a($fontSize:14px,$color:#fff,$display:inline,$decoration:none){
  font-size: $fontSize;
  color: $color ;
  display: $display;
  text-decoration: $decoration ;
}
@mixin panel(
  $bgcolor:#fff,
  $padding:0,
  $margin:0,
  $height:auto,
  $color:#222,
  $fontSize:14px,
  $textAlign:left,
  $weight:bold
){
  background-color: $bgcolor;
  margin: $margin;
  >h4{
    padding:$padding;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: $weight;
    text-align: $textAlign;
    color: $color;
    font-size: $fontSize;
  }
}
@mixin btn(
  $width:100%,
  $height:auto,
  $size:14px,
  $color:#fff,
  $bgcolor:#F52434,
  $bdcolor:#F52434,
  $radius:4px
){
  width: $width;
  height: $height;
  background-color: $bgcolor;
  border-radius: $radius;
  border:1px solid $bdcolor;/*no*/
  font-size: $size;
  color: $color;
  text-align: center;
  line-height: $height;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@mixin wordIcon(
  $url:none,$size:auto,$position:0% 0%,$color:#222,
  $fontsize:14px,$height:auto,$padding:0,$repeat:no-repeat
){
  @include img($url,$size,$position,$repeat);
  color: $color;
  font-size: $fontsize;
  height: $height;
  line-height: $height;
  padding: $padding;
}
@mixin absolute ($top:inherit, $right:inherit, $bottom:inherit, $left:inherit, $zIndex: 0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $zIndex;
}
