html,
body,
#app {
  width: 100%;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-family: 
  /* 0 */ "Microsoft YaHei",
  /* 1 */ -apple-system, BlinkMacSystemFont, 
  /* 2 */ "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", 
  /* 3 */ "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #191F24;
  min-width: 1366px;
  height: 100%;
  overflow-y: auto;
  // overflow: hidden;
  background: #F0F0F0;
}
input {font-family: "Microsoft YaHei"}
.index-data-page{
  // background: #F0F0F0 url(../assets/banner-index.jpg) top center no-repeat;
  body{
    // background: #F0F0F0 url(../assets/banner-index.jpg) top center no-repeat;
    #app{
      box-sizing: border-box;
      padding-top: 56px;
      background: #F0F0F0 url(../assets/banner-index.jpg) top center no-repeat;
      .page-frame-header{
        color: rgba(255, 255, 255, 0.8);
        background: rgba(255, 255, 255, 0);
        .el-dropdown{
          color: #FFF;
          .icon{
            color: rgba(255, 255, 255, 0.7);
          }
        }
        .header-menus{
          .item{
            color: #FFFFFF;
            &.active{
              border-bottom: 3px solid #fff;
            }
          }
        }
        .name{
          color: #FFF;
        }
        .header-sub-menu-item{
          color: #fff;
          .icon{
            color: #fff;
          }
        }
        .header-search{
          background: #FFFFFF;
          border-radius: 16px;
          width: 290px;
          .el-input__inner{
            background: transparent;
            color: #191F24;
          }
          .search-icon{
            color: rgba($color: #4D76BD, $alpha: 0.48);
          }
          input::-webkit-input-placeholder{
            color: rgba($color: #4D76BD, $alpha: 0.48);
          }
          input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color: rgba($color: #4D76BD, $alpha: 0.48);
          }
          input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color: rgba($color: #4D76BD, $alpha: 0.48);
          }
          input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
            color: rgba($color: #4D76BD, $alpha: 0.48);
          }
        }
      }
    }
  }
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -moz-text-decoration-skip: objects;
  text-decoration-skip: objects;
  cursor: pointer;
}

ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
span{
  display: inline-block;
}
.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}

.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.console-box {
  padding: 20px;
  min-width: 1080px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.console-box-body {
  margin-top: 20px;
}

/*Link UI*/
.link-a {
  color: #728acf;
}

.red {
  color: #ef4747;
}

.green {
  color: #4eaf82;
}

.orange {
  color: #f97e48;
}

.vb > .vb-dragger {
  z-index: 5;
  width: 12px;
  right: -8px;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  -webkit-transition: background-color 100ms ease-out, margin 100ms ease-out,
    height 100ms ease-out;
  transition: background-color 100ms ease-out, margin 100ms ease-out,
    height 100ms ease-out;
  background-color: rgba(48, 121, 244, 0.1);
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(48, 121, 244, 0.3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: rgba(48, 121, 244, 0.5);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(48, 121, 244, 0.5);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(48, 121, 244, 0.5);
}

.hiddens {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wraning {
  color: #e29735;
}

/* 门户首页块公用样式 */
@import './themeVar.scss';
.continer-box {
  padding-right: 20px;
  width: 100%;
  background-color: #fff;
  // overflow: hidden; // 代办筛选下拉

  height: 55px;
  line-height: 54px;
  color: #191f24;
  @include fs(2);
  box-sizing: border-box;
  &-icon {
    width: 18px;
    height: 18px;
    margin: -2px 10px 0 0;
    svg{
      vertical-align: text-bottom;
    }
  }
  .info-btn {
    height: 55px;
    color: rgba(25, 31, 36, 0.72);
    display: flex;
    justify-content: center;
    align-items: center;
    &-icon {
      background: #ffffff;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 0 10px;
      height: 26px;
      @include fs(-2);
      border-radius: 4px;
      border: 1px solid #e4e4e4;
      svg{
        margin-right: 2px;
        width: 14px;
        @include fs(-2);
        color: #8f9aac;
      }
      &:hover{
        color: #1e89ff;
        border-color: #1e89ff;
        svg{
          color: #1e89ff;
        }
      }
    }
  }
  .info-btn-notext{
    margin-left: 10px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-icon {
      cursor: pointer;
      width: 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 4px;
      border: 1px solid #E4E4E4;
      svg{
        width: 16px;
        font-size: 14px;
        color: #333;

      }
      &:hover{
        border-color: #1e89ff;
        svg{
          color: #1e89ff;
        }
      }
    }
  }
  &-title {
    position: relative;
    padding: 0 16px;
    border-bottom: 1px solid rgba(25, 31, 36, 0.06);
    // padding: 0 20px;
    // height: 54px;
    // line-height: 54px;
    // color: #191f24;
    // @include fs(2);
    // font-weight: bold;
    // box-sizing: border-box;
    &::before{
      position: absolute;
      top: 18px;
      left: 0;
      content: '';
      width: 5px;
      height: 18px;
      background: #499CF8;
    }
    // overflow: hidden;
  }
}
.information-fix{
  &.continer-box-title{
    border: 0;
    &::before{
      top: 14px !important;
    }
  }
  height: 45px !important;
  line-height: 45px !important;
  .info-btn-notext,.info-btn{
    height: 45px !important;
  }
}
*::-webkit-scrollbar {
	margin-right: 3px;
  width: 0;
  height: 6px;
	background: rgba(255, 255, 255, 0);
}
*::-webkit-scrollbar-thumb{
	margin-right: 3px;
  background: #CCCCCC;
	border-radius: 10px;
}

*::-ms-scrollbar {
	margin-right: 3px;
  width: 0;
  height: 6px;
	background: rgba(255, 255, 255, 0);
}
*::-ms-scrollbar-thumb{
	margin-right: 3px;
  background: #CCCCCC;
	border-radius: 10px;
}

*::-moz-scrollbar {
	margin-right: 3px;
  width: 0;
  height: 6px;
	background: rgba(255, 255, 255, 0);
}
*::-moz-scrollbar-thumb{
	margin-right: 3px;
  background: #CCCCCC;
	border-radius: 10px;
}
/* vuedraggableTransition */
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}

.el-scrollbar__wrap{
  overflow-x: hidden !important;
}