body {
  margin: 0;
  font-family: PingFangSC-Semibold, PingFang SC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ant-table-wrapper{
  padding: 16px;
  background-color: #fff;
}
*::-webkit-scrollbar {
	margin-right: 3px;
	width: 5px;
	background: rgba(255, 255, 255, 0);
}
*::-webkit-scrollbar-thumb{
	margin-right: 3px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
