@import "mixins/mixins";
@import "mixins/_button";
@import "common/var";

@mixin def($scale: 1, $fsBase: 14px) {
  & .el-checkbox-button__inner {
    @include button-size($--button-mini-padding-vertical * $scale, $--button-mini-padding-horizontal * $scale, $fsBase, 0);
  }
}

@include b(checkbox-button) {
  &:first-child {
    .el-checkbox-button__inner {
      border-left: $--border-base;
      border-radius: $--border-radius-base 0 0 $--border-radius-base;
      box-shadow: none !important;
    }
  }

  &:last-child {
    .el-checkbox-button__inner {
      border-radius: 0 $--border-radius-base $--border-radius-base 0;
    }
  }

  &:first-child:last-child {
    .el-checkbox-button__inner {
      border-radius: $--border-radius-base;
    }
  }

  @include m(medium) {
    @include def(sizeScale(12,18), $--font-size-medium)
  }

  @include m(small) {
    @include def(sizeScale(12,16),$--font-size-small)
  }

  @include m(mini) {
    @include def(sizeScale(12,14))
  }
}