/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

/* theme color */
$--color-primary: #1E89FF !default;
$--color-success: #03BE1C !default;
$--color-warning: #FF8200 !default;
$--color-danger:  #EA340F !default;
// $--color-info: #1E1E1E;

$--button-font-weight: 400;

// $--color-text-regular: #1f2d3d;
/// color Font
$--color-text-primary: rgb(25, 31, 36) !default;
$--color-text-regular: rgba(25, 31, 36, 0.88) !default;
$--color-text-secondary: rgba(25, 31, 36, 0.64) !default;
$--color-text-placeholder: rgba(25, 31, 36, 0.24) !default;

/// color Border
$--border-color-base: rgba(25, 31, 36, 0.16) !default;
$--border-color-light: rgba(25, 31, 36, 0.12) !default;
$--border-color-lighter: rgba(25, 31, 36, 0.08) !default;
$--border-color-extra-light: rgba(25, 31, 36, 0.04) !default;

// $--border-color-light: #dfe4ed;
// $--border-color-lighter: #e6ebf5;
$--background-color-base: rgba(25, 31, 36, 0.08) !default;
$--table-border:1px solid#dfe6ec;


/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}
