html,
body,
.full-screen {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
body{
  margin: 0;
}
.full-screen {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
body {
  background: #DDE4EE;
  font-family: PingFangSC-Medium;
}
a,
button {
  -webkit-touch-callout: none !important;
  user-select: none !important;
}
a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}
img {
  width: 100%;
}
